:root {
  --color-primary-hover: #2196f3;

  --color-banner: #2F303A;
  --color-btn-banner: #2196f3;
  --color-btn-banner-hover: #188ce8;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #F5F4FA;
}

body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* start header */
.logo{
  color: var(--color-btn-banner);
} 
.logo .logo-dark{
  color: var(--color-black);
} 
.logo .logo-light{
  color: var(--color-white);
} 

.logo-light {
  /* color: var(--color-white); */
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-primary-hover);
}

.contacts-mail:hover,
.contacts-mail:focus,
.contacts-number:hover,
.contacts-number:focus {
  color: var(--color-primary-hover);
}
/* end header */

/* start main */ 
.main-button {
  background-color: var(--color-btn-banner);
}

.main-banner{
  background-color: var(--color-banner);
}

.main-button{
  color: var(--color-white);  
}

.main-button:hover,
.main-button:focus {
  background-color: var(--color-btn-banner-hover);
}

.main-title{
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
}
/* end main */

/* start footer */
.footer{
  background-color: var(--color-banner);
}
address {
  font-style: normal;
}
.address-link{
  color: rgba(255, 255, 255, .6) ;
  text-decoration: none;
}
.addres-street {  
  color: var(--color-white);
}
/* end footer */

/*start style portfolio */
.filter button {
  background-color: var(--color-gray);
}
.filter button:hover, 
.filter button:focus {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
}
/*end style portfolio */